<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div class="container-fluid">
      <% include ../partials/nav.ejs %>
      <% include ../partials/dashboard.ejs %>
      <% include ../partials/footer.ejs %>
    </div>
  </body>
</html>
